mixin alphabet(additionalClass)
  .alphabet(class=additionalClass)
    .wrapper
      .alphabet__header
        .alphabet__title Торговые дома по алфавиту
        a.alphabet__link(href="#") Посмотреть все бренды
      .alphabet__content
        .alphabet__category
          a.alphabet__item(href="#") A
          a.alphabet__item(href="#") B
          a.alphabet__item(href="#") C
          a.alphabet__item(href="#") D
          a.alphabet__item(href="#") E
          a.alphabet__item(href="#") F
          a.alphabet__item(href="#") G
          a.alphabet__item(href="#") H
          a.alphabet__item(href="#") I
          a.alphabet__item(href="#") J
          a.alphabet__item(href="#") K
          a.alphabet__item(href="#") L
          a.alphabet__item(href="#") M
          a.alphabet__item(href="#") N
          a.alphabet__item(href="#") O
          a.alphabet__item(href="#") P
          a.alphabet__item(href="#") Q
          a.alphabet__item(href="#") R
          a.alphabet__item(href="#") S
          a.alphabet__item(href="#") T
          a.alphabet__item(href="#") U
          a.alphabet__item(href="#") V
          a.alphabet__item(href="#") W
          a.alphabet__item(href="#") X
          a.alphabet__item(href="#") Y
          a.alphabet__item(href="#") Z
        .alphabet__category
          a.alphabet__item(href="#") 1-9
        .alphabet__category
          a.alphabet__item(href="#") А-Я