include ../blocks/header/header.pug
include ../blocks/wrapper/wrapper.pug
include ../blocks/enter/enter.pug
include ../blocks/top-bar/top-bar.pug
include ../blocks/logo/logo.pug
include ../blocks/phone/phone.pug
include ../blocks/search/search.pug
include ../blocks/alphabet/alphabet.pug
include ../blocks/content/content.pug
include ../blocks/categories/categories.pug
include ../blocks/catalog/catalog.pug
include ../blocks/item/item.pug
include ../blocks/comment/comment.pug
include ../blocks/brands/brands.pug
include ../blocks/info/info.pug
include ../blocks/social/social.pug
include ../blocks/advantages/advantages.pug
include ../blocks/reviews/reviews.pug
include ../blocks/footer/footer.pug
include ../blocks/copyright/copyright.pug
include ../blocks/menu/menu.pug
include ../blocks/stars/stars.pug
include ../blocks/button/button.pug
