mixin copyright(additionalClass)
  .copyright(class=additionalClass)
    .wrapper.copyright__wrapper
      .copyright__content © Parfumoff.ru 2008 - 2016
      a.copyright__lv-link(href="http://www.liveinternet.ru/click")