mixin categories(additionalClass)
  .categories(class=additionalClass)
    .categories__header Категории
    .categories__list
      a.categories__link(href="#") Новинка
      a.categories__link(href="#") Новый год
      a.categories__link(href="#") Женская парфюмерия
      a.categories__link(href="#") Мужская парфюмерия
      a.categories__link(href="#") Косметика
      a.categories__link(href="#") Арабские ароматы
      a.categories__link(href="#") Ароматы от звезд
      a.categories__link(href="#") Подарочные наборы
      a.categories__link(href="#") Товары для дома
      a.categories__link(href="#") Тестеры
      a.categories__link(href="#") Дороже 20 000 р.