mixin item(additionalClass)
  .item(class=additionalClass)
    a.item__picture-link(href="#")
      img.item__picture(src="img/item-1.jpg", alt="Product")
    a.item__title(href="#")
      .item__brand Shaik
      .item__name N77
    .item__dscr Аромат Shaik N77 ...
    .item__price
      .item__price-from от 8690
      .item__price-to до 12050 руб.
    .item__footer
      a.item__link(href="#") Подробнее
      a.item__buy.button(href="#") Купить