mixin footer(additionalClass)
  .footer(class=additionalClass)
    .footer__content
      .wrapper.footer__wrapper
        .footer__content-left
          .footer__city Москва
          .footer__contacts Адрес: ул. Николоямская, д. 48, стр. 2 <br>Тел.: 8 (495) 540-47-23 <br> Вопросы и предложения: info@parfumoff.ru
          .footer__menu
            a.footer__menu-link(href="#") Контакты
            a.footer__menu-link(href="#") Режим работы
            a.footer__menu-link(href="#") Доставка
            a.footer__menu-link(href="#") Оплата
            a.footer__menu-link(href="#") Качество и гарантии
            a.footer__menu-link(href="#") Скидки
            a.footer__menu-link(href="#") Статьи
            a.footer__menu-link(href="#") О нас
            a.footer__menu-link(href="#") Возврат
        a.footer__payments(href="#")
          .footer__payments-header Мы принимаем:
          img.footer__payments-list(src="img/payments.png", alt="Payments")