mixin logo(additionalClass)
  a.logo(href="index.html", class=additionalClass)
    img.logo__picture(src="img/logo.png", alt="Logo")
    .logo__title оригинальная парфюмерия
    .logo__age Мы работаем с 2008 года