mixin comment(additionalClass)
  .comment(class=additionalClass)
    h2.comment__header Интернет-магазин оригинальной парфюмерии
    p.comment__content Добро пожаловать в интернет-магазин парфюмерии Parfumoff.ru. Для вас представлен колоссальный выбор парфюмерной продукции. Все товары сертифицированы, имеют оригинальное происхождение и высочайшее качество. Сотрудники Parfumoff.ru помогут купить духи для вас и ваших близких. Мы предлагаем высококачественную продукцию по низким ценам. Зарегистрированным покупателям предоставляются дополнительные скидки. Желаем вам приятных покупок.