mixin advantages(additionalClass, additionalClass2)
  .advantages(class=additionalClass, class=additionalClass2)
    .advantages__header Почемы выбирают нас
    .advantages__list
      .advantages__item
        .advantages__item-icon.advantages__item-icon--original
        .advantages__item-content 
          span.advantages__item-content-bold Оригинальная 
          | парфюмерия
      .advantages__item
        .advantages__item-icon.advantages__item-icon--distributors
        .advantages__item-content 
          span.advantages__item-content-bold Официальные 
          | дистрибьюторы и надежные поставщики
      .advantages__item
        .advantages__item-icon.advantages__item-icon--cashback
        .advantages__item-content Легкий 
          span.advantages__item-content-bold возврат 
          | денег
      .advantages__item
        .advantages__item-icon.advantages__item-icon--discounts
        .advantages__item-content Лучшие цены и накопительная 
          span.advantages__item-content-bold система скидок