mixin brands(additionalClass)
  .brands(class=additionalClass)
    h2.brands__header ТОП 300 брендов
    .brands__alphabet
      a.brands__alphabet-letter.brands__alphabet-letter--active(href="#") A
      a.brands__alphabet-letter(href="#") B
      a.brands__alphabet-letter(href="#") C
      a.brands__alphabet-letter(href="#") D
      a.brands__alphabet-letter(href="#") E
      a.brands__alphabet-letter(href="#") F
      a.brands__alphabet-letter(href="#") G
      a.brands__alphabet-letter(href="#") H
      a.brands__alphabet-letter(href="#") I
      a.brands__alphabet-letter(href="#") J
      a.brands__alphabet-letter(href="#") K
      a.brands__alphabet-letter(href="#") L
      a.brands__alphabet-letter(href="#") M
      a.brands__alphabet-letter(href="#") N
      a.brands__alphabet-letter(href="#") P
      a.brands__alphabet-letter(href="#") R
      a.brands__alphabet-letter(href="#") S
      a.brands__alphabet-letter(href="#") T
      a.brands__alphabet-letter(href="#") V
      a.brands__alphabet-letter(href="#") Y
    .brands__list
      a.brands__item(href="#") Адидас
      a.brands__item(href="#") Agent Provocateur / Агент Провокатор
      a.brands__item(href="#") Amouage / Амуаж
      a.brands__item(href="#") Angel Schlesser / Ангел Шлессер
      a.brands__item(href="#") Anna Sui / Анна Суи
      a.brands__item(href="#") Antonio Banderas / Антонио Бандерас
      a.brands__item(href="#") Арманд Баси