mixin menu(additionalClass)
  .menu(class=additionalClass)
    a.menu__item(href="#") Контакты
    a.menu__item(href="#") Режим работы
    a.menu__item(href="#") Доставка
    a.menu__item(href="#") Оплата
    a.menu__item(href="#") Качество и гарантии
    a.menu__item(href="#") Скидки
    a.menu__item(href="#") Статьи
    a.menu__item(href="#") Отзывы
    a.menu__item(href="#") О нас
    a.menu__item(href="#") Возврат