mixin header(additionalClass)
  .header(class=additionalClass)
    +top-bar
    .wrapper.header__wrapper
      +logo
      +phone
      +search
      a.button.header__cart(href="#") Корзина: 0 товаров